/BiomechanicalFeaturesofOrtopedicPatients/column_2C_weka.csv
/BiomechanicalFeaturesofOrtopedicPatients/column_3C_weka.csv
MachineLearning/AssociationRuleMining/Apriori/sepet.csv
MachineLearning/DeepLearning/Churn_Modelling.csv
MachineLearning/DimensionReduction/Wine.csv
MachineLearning/ModelSelection/Social_Network_Ads.csv
MachineLearning/NLP/Restaurant_Reviews.csv
MachineLearning/Reinforcement/UCB/Ads_CTR_Optimisation.csv
MachineLearning/Supervised/Classification/exercise/Iris.xls
MachineLearning/Supervised/Regression/exercise/maaslar_yeni.csv
MachineLearning/Supervised/Regression/LinearRegression/satislar.csv
MachineLearning/Supervised/Regression/odev_tenis.csv
MachineLearning/Supervised/Regression/veriler.csv
MachineLearning/Supervised/Regression/PolynomialRegression/maaslar.csv
MachineLearning/Unsupervised/K-Means/musteriler.csv
MachineLearning/VeriAnalizi/eksikveriler.csv
MachineLearning/VeriAnalizi/veriler.csv
TimeSeriesForecasting/PJME_hourly.csv
TitanicSurvival/gender_submission.csv
TitanicSurvival/test.csv
TitanicSurvival/train.csv
TomandJerry/challenges.csv
TomandJerry/ground_truth.csv